In [52]:
import pandas as pd

In [61]:
data = pd.read_csv("atmData.csv", header = 0)

In [62]:
data.head()

       ac   pin        name  balance
0  123456  1234     Shubham     4000
1  123543  4231   Sudhanshu     5000
2  453674  3693     Sankalp    12324
3  543858  9506      Jashan      324
4  659062  4325      Chirag     3214

In [46]:
row = data[data['ac'] == int("659062")]

In [5]:
len(row)

1

In [6]:
print(row)

       ac   pin     name  balance
4  659062  4325   Chirag     3214

In [7]:
type(data['ac'])

pandas.core.series.Series

In [8]:
print(row)

       ac   pin     name  balance
4  659062  4325   Chirag     3214

In [9]:
print(row['ac'])

4    659062
Name: ac, dtype: int64

In [10]:
type(int((row['ac'][0])))

KeyError: 0

In [11]:
row['ac']

4    659062
Name: ac, dtype: int64

In [12]:
print('ac')

ac

In [13]:
row['pin']

4    4325
Name: pin, dtype: int64

In [14]:
int(row['pin'])

4325

In [15]:
int(row['balance'])

3214

In [16]:
type(row['name'])

pandas.core.series.Series

In [17]:
type(str(row['name']))

str

In [18]:
str((row['name']).values[0])

' Chirag'

In [66]:
data[data['ac'] == 123456]

       ac   pin      name  balance
0  123456  1234   Shubham     4000

In [68]:
data[data['ac'] == 123456]['balance'] = 100

data.to_csv('atmData.csv', index = False)

/home/shubham/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [76]:
data.loc[data['ac'] == 123456, 'balance'] = 123214

In [77]:
data.to_csv('atmData.csv', index = False)

In [78]:
data = pd.read_csv("atmData.csv", header = 0)
data.head()

       ac   pin        name  balance
0  123456  1234     Shubham   123214
1  123543  4231   Sudhanshu     5000
2  453674  3693     Sankalp    12324
3  543858  9506      Jashan      324
4  659062  4325      Chirag     3214