In [29]:
import pandas as pd

In [85]:
data = pd.read_csv("atmData.csv", header = 0)

In [86]:
data.head()

       ac   pin        name  balance
0  123456  1234     Shubham     4000
1  123543  4231   Sudhanshu     5000
2  453674  3693     Sankalp    12324
3  543858  9506      Jashan      324
4  659062  4325      Chirag     3214

In [97]:
row = data[data['ac'] == int("659062")]

In [98]:
len(row)

1

In [99]:
print(row)

       ac   pin     name  balance
4  659062  4325   Chirag     3214

In [100]:
type(data['ac'])

pandas.core.series.Series

In [101]:
print(row)

       ac   pin     name  balance
4  659062  4325   Chirag     3214

In [102]:
print(row['ac'])

4    659062
Name: ac, dtype: int64

In [103]:
type(int((row['ac'][0])))

KeyError: 0

In [104]:
row['ac']

4    659062
Name: ac, dtype: int64

In [105]:
print('ac')

ac

In [106]:
row['pin']

4    4325
Name: pin, dtype: int64

In [108]:
int(row['pin'])

4325

In [115]:
int(row['balance'])

3214

In [117]:
type(row['name'])

pandas.core.series.Series

In [118]:
type(str(row['name']))

str

In [131]:
str((row['name']).values[0])

' Chirag'